<br>
<br>
<div class="container">
  <%= link_to "Add Label", "/users/#{current_user.id}/labels/new", class:'btn btn-success' %>
  <br>
  <br>
  <% @stamps.each do |stamp| %>
    <div class="col-md-4">
      <%= image_tag stamp.image.url(:medium) %><br>
      <strong>Title:</strong> <%= stamp.title %> |
      <%= link_to "More", "/users/#{current_user.id}/labels/#{stamp.id}" %>
    </div>
  <% end %>
  <br>
</div>

