<div class="jumbotron stamps">
  <div class="container">
    <div class="row">
      <br>
    </div>
  </div>
  <div class="well">
    <div class="container">
      <h3 id="title">Hospital Labels Online makes it easy for you to manage and print labels with Addmaster printers</h3>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 well">
      <h4 class="light-font centered">Hospitals have an immense amount of assets to manage and labelling is critical to taking care of it properly. Hospital Labels Online ensures you have the proper making on every resource from the smallest pill bottle to the largest equipment creates.</h4>
      <span class="centered"><%= link_to "Get started", new_user_registration_path, :class => 'btn btn-success'  %></span>
    </div>
    <div class="col-sm-12 col-lg-4 col-lg-offset-2">
      <%= image_tag("stamps1.jpg") %>
    </div>
  </div>
  <br>
  <br>
</div>



